button {
    width: 100%;
    height: 100%;
    // size: 10px;
    font-size: xx-large;
}

.X-value {
    background-color: #d0b4ec ;
}

.O-value {
    background-color: #b4ecb4;
}

.empty {
    background-color: #f1f1c8;
}

.square {
    size: 10px;
    color: white;
}