<div  class="container"  *ngIf="currentPlayer$ | async as player">
    <h1>Welcome to Tic Tac Toe game!</h1>
    <mat-grid-list cols="3" rowHeight="fit" class="board">
        <mat-grid-tile *ngFor="let square of squares$ | async as board">
            <app-square [square] = "square"
            (clicked)="onClicked($event, player, board)"
            >
        </app-square>
        </mat-grid-tile>
      </mat-grid-list>
      <h1  *ngIf="gameStatus$ | async as status">{{status}}</h1>
      <button *ngIf="isGameOver" mat-stroked-button (click)="initGame()">play again</button>
</div>

