.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
// mat-grid-tile {
//     width: 30vw;
//     height: 30vw;
// }
app-square {
    width: 100%;
  height: 100%;
}

.board {
  width: 80%;
  height: 100%;
}